* {
  box-sizing: border-box;
}
.body {
  width: 100vw;
  background-color: black;
  padding-top: 30px;
  padding-left: 40px;
}

header h1 {
  color: red;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
}
.Contener {
  background-color: black;
}
.Title {
  color: aliceblue;
  font-size: 25px;
}
.Line {
  margin-top: 20px;
  height: 200px;
  overflow: hidden;
  display: flex;
  overflow-x: scroll;
  margin-bottom: 40px;
}
.Line > * {
  /* border: blanchedalmond solid 2px; */
  margin-right: 5px;
  border-radius: 10px;
}
footer {
  height: 40px;
}
